<h3>Listado de Magos</h3>


<div *ngIf="deleteMago; else nothingWasDeleted">
  <h3>Mago borrado <small class="text-danger">{{deleteMago}}</small></h3>
</div>

<ng-template #nothingWasDeleted>
  <h3>No ha borrado nada</h3>
</ng-template>

<button
*ngIf="magoNames.length >0"
(click)="removeLastMago()"
class="btn btn-outline-danger">Borrar último mago</button>


<ul class="mt-2 list-group">
  <li
  *ngFor="let name of magoNames"
  class="list-group-item">
  <strong> {{ name }}</strong>
</li>
</ul>
